/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
#enrollmentState{
  text-align: left;
  align-items: baseline;
}
.carousel {
  
  height: 100%;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #db0f0f;
  border-radius: 50%;
  display: inline-block;
  margin-left: 20px;
  margin-top: 5px;
  align-self: flex-end;
}
